/* You can add global styles to this file, and also import other style files */

.toward {
  * {
    box-sizing: border-box;
  }
  .todoItem {
    &:first-of-type {
      border-top: none;
    }
  }
  button.expandButton {
    font-size: 12px;
    float: right;
  }
}
