/*
 * Replace this with your own classes
 *
 * e.g.
 * .container {
 * }
*/

.container {
  border-top: 10px solid #3b3b3b;
  padding: 10px;

  h3 {
    margin-top: 0;
    position: relative;
  }

  input,
  textarea {
    width: 100%;
  }

  input {
    &[type='text'] {
      margin-bottom: 10px;
    }
  }
}
